/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  justify-items: center;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 21px);
  background-image: var(--main-bg-gradient, #fff);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-weight-text, 400);
}

.page__section {
  margin: 0 auto;
  border: 2px solid currentColor;
  inline-size: var(--page-size-inline, 50%);
}

/* -----------------------------------шапка--------------------------*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-block: var(--header-padding-block, 120px);
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  background-color: var(--main-bg-color, #fff);
}

.header__logo {
  font-size: var(--font-size-logo, 49px);
  line-height: 100%;
}

.header__title {
  font-size: var(--font-size-header-title, 14px);
  line-height: 100%;
}

.page__header {
  margin-block-end: 100px;
}

/* ---------------------------------карточки--------------------------*/

.card {
  position: relative;
  background-color: var(--main-bg-color, #fff);
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

/* ---------------------------заголовок карточки------------------------*/

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--card-title-weight, 700);
}

/* ---------------------изображение и лэйбл карточки--------------------*/

.card__image-container {
  position: relative;
  border-block-start: 2px solid currentColor;
  border-block-end: 2px solid currentColor;
  overflow: hidden;
}

.zero__sprint .card__lable,
.first__sprint-begin .card__lable,
.first__sprint-doubts .card__lable {
  text-transform: uppercase;
}

.card__lable {
  position: absolute;
  z-index: 10;
  opacity: 50%;
  color: #000;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
  inset-block-start: 1.786em;
  inset-inline-end: 1.786em;
  mix-blend-mode: hard-light;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(158%);
  aspect-ratio: 1 / 1;
}

/* ---------------------------описание карточки------------------------*/

.card__description {
  padding: 25px;
}

.card__description p:first-child {
  padding-block-end: 27px;
}

/* ---------------------------кнопки карточки------------------------*/

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color, #000);
  padding: 0;
  color: var(--button-color, #fff);
  background-color: var(--main-bg-color, #fff);
  cursor: pointer;
}

.card__icon-button {
  width: 43px;
  height: 38px;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.card__like-button {
  min-inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
  font-feature-settings: "wght" var(--main-weight-text, 400);
}

/* ---------------------------кнопка save------------------------*/

.button__save {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 50px auto 0;
  padding: 15px 20px;
}

.button__save svg {
  position: relative;
  block-size: 1.1667em;
  mix-blend-mode: difference;
}

/* ---------------------------------состояния кнопок--------------------------*/

.button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  transition: box-shadow 0.5s ease-in-out;
}

.button:has(.button__text)::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:has(.button__text):hover::before {
  transform: scaleX(1);
}

/* -----------------------------------модальное окно--------------------------*/

dialog[open] {
  display: grid;
  grid-template-columns: min-content minmax(198px, 234px);
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-content: start;
  border: 2px solid currentColor;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px;
}

dialog svg {
  block-size: 39px;
  inline-size: 39px;
}

#dialog-save-id > p.button__text {
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
  mix-blend-mode: normal;
}

#dialog-save-id > form {
  grid-column: span 2;
}

.button__dialog {
  inline-size: 100%;
  max-block-size: 38px;
  padding: 9px 17px;
}

.button__dialog.button__text {
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* --------------------------------------фильтры-----------------------------*/

.filter__saturate-min {
  filter: saturate(20%);
}

.filter__saturate-max {
  filter: saturate(400%);
}

.filter__hue-rotate {
  filter: hue-rotate(25deg);
}

.filter__invert {
  filter: invert(80%);
}

.filter__sepia {
  filter: sepia(0.9);
}

.filter__blur {
  filter: blur(10px);
}

.multifilter {
  filter: saturate(200%) sepia(0.5) hue-rotate(80deg) blur(1.5px) opacity(0.75);
}

/* ------------------------------------директивы---------------------------*/

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__lable {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

@media (width <= 375px) {
  :root {
    --page-size-inline: 100vw;
  }

  .card__lable {
    inset-block-start: 1.386em;
    inset-inline-end: 0.786em;
  }

  .button__save {
    flex-direction: column;
  }

  .button__save svg {
    block-size: 1.556em;
  }

  dialog[open] {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}
