/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  justify-items: center;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-weight-text, 400);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block: var(--header-padding-block);
  border: 2px solid currentColor;
  font-family: var(--accent-font), fantasy;
}

.header__logo {
  font-size: var(--font-size-logo, 49px);
}

.header__title {
  font-size: var(--font-size-header-title, 14px); 
  text-align: center;
  text-transform: uppercase;
}

.page__section {
  inline-size: var(--page-size-inline, 50%);
  margin: auto;
}

.page__header {
  margin-block-end: 100px;
}